<nav class="kino-ui-box bg-primary text-white">
    <div class="kino-ui-box-title d-flex p-2">
        <button onclick="location.href='kino.movie.view.html'" class="btn btn-link btn-sm m-0" aria-label="Atrás">
            <i class="fa fa-chevron-left text-white"></i>
        </button>
        <h1 class="inline mt-2 ml-2 mb-0 mr-2">Comprar Entrada</h1>
    </div>
</nav>
