<nav class="kino-ui-box bg-primary text-white">
    <div class="kino-ui-box-title d-flex p-2">
        <button onclick="history.go(-1)" class="btn btn-link btn-sm m-0" aria-label="Atrás">
            <i class="fa fa-chevron-left text-white mr-2"></i>
        </button>
        <h1 class="inline mt-2 ml-2 mb-0 mr-2">Atrás</h1>
    </div>
</nav>
