<div class="kino-ui-etiquetas-generos">
    <div class="row">
        <div class="col mt-3">
            <p class="mb-0" style="font-size: .85rem;"><b>Sugerencias según:</b></p>
        </div>
    </div>
    <hr class="total">
    <div class="row mb-2 mt-2">
        <div class="col __swipe-container">
            <ul class="__listing-etiquetas list-unstyled mb-0" aria-label="Mis preferencias">
                <li>
                    <div tabindex="0" class="btn btn-sm btn-primary btn-round">a 15Km</div>
                </li>
                <li>
                    <div tabindex="0" class="btn btn-sm btn-primary btn-round">Thriller</div>
                </li>
                <li>
                    <div tabindex="0" class="btn btn-sm btn-primary btn-round">Ciencia Ficción</div>
                </li>
                <li>
                    <div tabindex="0" class="btn btn-sm btn-primary btn-round">Animación</div>
                </li>
                <li>
                    <div tabindex="0" class="btn btn-sm btn-primary btn-round">Drama</div>
                </li>
                <li>
                    <div tabindex="0" class="btn btn-sm btn-primary btn-round">Terror</div>
                </li>
                <li>
                    <div tabindex="0" class="btn btn-sm btn-primary btn-round">Comedia</div>
                </li>
            </ul>
        </div>
        <div class="col-3 p-0 align-self-end text-center">
            <button class="btn btn-primary btn-icon btn-round"
                    onclick="location.href='kino.config.view.html'"
                    type="button"
                    aria-label="Editar mis preferencias">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
