<!--bottom menu bar-->
<ul class="kino-ui-nav-bottom nav fixed-bottom justify-content-between bg-white" role="menubar">
    <li class="nav-item text-center" role="menuitem">
        <a class="nav-link text-muted" href="kino.home.view.html" aria-label="Inicio">
            <i class="fa fa-home block" aria-hidden="true"></i>
            <span>Inicio</span>
        </a>
    </li>
    <li class="nav-item text-center" role="menuitem" aria-label="Mis Compras">
        <a class="nav-link text-muted relative" href="kino.mis-compras.view.html">
            <span class="badge absolute text-white bg-primary">2</span>
            <i class="fa fa-ticket block" aria-hidden="true"></i>
            <span>Mis Compras</span>
        </a>
    </li>
    <li class="nav-item text-center" role="menuitem" aria-label="Perfil">
        <a class="nav-link text-muted" href="kino.config.view.html">
            <i class="fa fa-user block fa" aria-hidden="true"></i>
            <span>Perfil</span>
        </a>
    </li>
</ul>
<!--/-->
