<nav class="kino-ui-box bg-primary text-white">
    <div class="kino-ui-box-title d-flex justify-content-between p-2">
        <button onclick="location.href='kino.home.view.html'" class="btn btn-link btn-round btn-neutral fw-500" type="button">
            <i class="fa fa-chevron-left mr-2"></i>Volver
        </button>
    </div>
</nav>
