<nav class="kino-ui-box">
    <div class="kino-ui-box-title d-flex justify-content-end p-2">
        <button onclick="location.href='kino.home.view.html'" class="btn btn-link btn-round btn-primary fw-500" form="GenerosForm" type="button">OMITIR</button>
    </div>
</nav>
