<nav class="kino-ui-box bg-primary text-white">
    <div class="kino-ui-box-title d-flex justify-content-between p-2">
        <button onclick="history.go(-1)" class="btn btn-link btn-round btn-neutral fw-500" type="button">ATRÁS</button>
    </div>
</nav>
