/*HELPERS*/
.inline {
    display: inline-block;
}

.block {
    display: block;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bg-light {
    background-color: #eaeaea;
}

.text-muted {
    color: #333333 !important;
}

.fw-500 {
    font-weight: 500;
}

.swal2-container.swal2-shown {
    background-color: rgba(86, 24, 255, .92) !important;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

img.rounded {
    border-radius: 0.45rem !important;
}

img.img-raised {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7);
}

.btn.btn-shadow {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.7);
}
