/*@component: OVERVIEW TABS*/
.kino-ui-overview-tabs {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.kino-ui-overview-tabs ul._listing-peliculas .card {
    box-shadow: none;
}

.kino-ui-overview-tabs .nav-tabs {
    display: inline-block;
    margin: 0;
}

.kino-ui-overview-tabs .nav-item {
    display: block;
    float: left;
    list-style: none;
    position: relative;
}

.kino-ui-overview-tabs .nav-link:not(.active) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.kino-ui-overview-tabs .nav-item .nav-link.active {
    border-width: 0 0 .19rem 0;
    border-style: none none solid none;
    border-color: transparent transparent #5622ff transparent;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #5622ff;
}

.kino-ui-overview-tabs .nav-item .nav-link {
    background-color: transparent;
    display: block;
    padding: 10px 30px 7px;
    white-space: nowrap;
    color: inherit;
}

.kino-ui-overview-tabs .tab-content .tab-pane {
    display: none;
    margin: 0 auto;
}

.kino-ui-overview-tabs .tab-content .tab-pane:after {
    clear: both;
}

.kino-ui-overview-tabs .tab-content .tab-pane:after,
.kino-ui-overview-tabs .tab-content .tab-pane:before {
    content: '';
    display: table;
}

.kino-ui-overview-tabs .tab-content .tab-pane.active {
    display: block;
}

.kino-ui-overview-tabs ul._listing-peliculas li .card a {
    text-decoration: none;
}

.kino-ui-overview-tabs ul._listing-peliculas li .card a:focus {
    opacity: .4;
}

@media only screen and (orientation: portrait) {
    .kino-ui-overview-tabs .nav-tabs.length-1 {
        width: 148px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-2 {
        width: 296px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-3 {
        width: 444px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-4 {
        width: 592px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-5 {
        width: 740px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-6 {
        width: 888px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-7 {
        width: 1036px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-8 {
        width: 1184px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-9 {
        width: 1332px;
    }

    .kino-ui-overview-tabs .nav-tabs.length-10 {
        width: 1480px;
    }
}

@media only screen and (max-width: 41.688em) and (orientation: portrait) {
    .kino-ui-overview-tabs .__swipe-container {
        overflow-x: scroll;
    }

    .kino-ui-overview-tabs .__swipe-container::-webkit-scrollbar {
        display: none;
    }

    .kino-ui-overview-tabs .nav-item a {
        padding: 10px 30px;
        width: 140px;
        white-space: normal;
        word-spacing: 140px;
        border-radius: 0;
    }
}

@media only screen and (max-width: 41.688em) {
    .kino-ui-overview-tabs .nav-item a:hover,
    .kino-ui-overview-tabs .nav-item:hover {
        color: inherit;
    }
}
