.kino-ui-registro .or p {
    font-size: .7rem;
    margin-bottom: 0;
}

.kino-ui-registro .or p span {
    background-color: #808080;
    height: 1px;
    display: inline-block;
    width: 42.3333%;
    opacity: .7;
    vertical-align: middle;
}
