/*@element: FORMS*/
.kino-ui-form .form-control.__onfocus {
    padding: 10px 18px 10px 18px;
}

.kino-ui-form .input-group.__search .input-group-btn .btn {
    background-color: #fff;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.kino-ui-form .range-tickmarks {
    position: relative;
}

.kino-ui-form .range-tickmarks span:nth-child(2) {
    position: absolute;
    right: 0;
}

.kino-ui-form input[type=range] {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1;
    height: 2em;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
}

.datepicker .custom-control-indicator,
.kino-ui-form .custom-control-indicator {
    width: 1.7rem;
    height: 1.7rem;
}

.kino-ui-form .custom-control-input:checked~.custom-control-indicator {
    background-color: #000000;
}

.kino-ui-form input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.kino-ui-form input[type=range]:focus {
    outline: none;
}

.kino-ui-form input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.kino-ui-form input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}

.kino-ui-form input[type=range]::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}

.kino-ui-form input[type=range]::-ms-thumb {
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}

.kino-ui-form input[type=range]:hover::-webkit-slider-thumb {
    border-color: rgba(0, 0, 0, 0.3);
}

.kino-ui-form input[type=range]:hover::-moz-range-thumb {
    border-color: rgba(0, 0, 0, 0.3);
}

.kino-ui-form input[type=range]:hover::-ms-thumb {
    border-color: rgba(0, 0, 0, 0.3);
}

.kino-ui-form input[type=range]:active::-webkit-slider-thumb {
    border-color: rgba(0, 0, 0, 0.5);
}

.kino-ui-form input[type=range]:active::-moz-range-thumb {
    border-color: rgba(0, 0, 0, 0.5);
}

.kino-ui-form input[type=range]:active::-ms-thumb {
    border-color: rgba(0, 0, 0, 0.5);
}

.kino-ui-form input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: 1em;
    border-bottom: 2px solid #000000;
    background-color: transparent;
}

.kino-ui-form input[type=range]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    height: 1em;
    border-bottom: 2px solid #000000;
    background-color: transparent;
}

.kino-ui-form input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.kino-ui-form input[type=range] + output {
    position: absolute;
    background: #000;
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    display: inline-block;
    line-height: 2;
    top: 25.666%;
    left: 0;
    margin-left: -1%;
}

.kino-ui-form input[type=range] + output:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

.kino-ui-form .input-group-btn {
    font-size: 1rem;
}

.kino-ui-form .__beneficio.radio label::before, .radio label::after {
    background-color: #fff;
}

.kino-ui input[type="checkbox"].form-control.__genero {
    width: 100px;
    height: 106px;
    position: absolute;
    left: 24.333%;
    top: 0;
    opacity: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .kino-ui-form select,
    .kino-ui-form textarea,
    .kino-ui-form input {
        font-size: 1rem;
    }
}
