.kino-ui-movies ._listing-peliculas .card-body {
    font-size: .833rem;
}

.kino-ui-movies-list {
    height: 135px;
    overflow: hidden;
}

.kino-ui-proximas-funciones .list-group.__proximas-funciones p {
    font-size: .8rem;
}

.kino-ui-proximas-funciones .list-group.__proximas-funciones small {
    font-weight: 400;
}

.kino-ui-proximas-funciones .__historial-funciones li p {
    font-size: .8rem;
}

.kino-ui-proximas-funciones .__historial-funciones li small {
    font-weight: 400;
}

.kino-ui-proximas-funciones h2 {
    font-size: .9rem;
    font-weight: 600;
}

.kino-ui-proximas-funciones .list-group .list-group-item {
    padding: .75rem;
}
