.kino-ui-welcome .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    min-width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 4rem 2rem;
    z-index: 1;
}

.kino-ui-welcome .overlay p {
    font-weight: 500;
    line-height: 1.43333;
}

.kino-ui-welcome .logo h1 + p {
    font-weight: 500;
}

.kino-ui-welcome .overlay hr {
    background-color: rgba(255, 255, 255, .5);
    margin: 1rem 7rem;
}

.kino-ui-welcome .overlay .btn {
    margin: 2rem auto 0;
}

.kino-ui-welcome .overlay .brands p {
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 0;
}

.kino-ui-welcome .overlay .brands p span {
    background-color: #ffffff;
    height: 1px;
    display: inline-block;
    width: 12.3333%;
    opacity: .9;
    vertical-align: middle;
}

.kino-ui-welcome .video-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.kino-ui-welcome .video-container video {
    min-width: 100%;
    min-height: 100%;
    /* width & height en auto evitan que el browser
    haga un stretch o squish del video */
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    zoom: 1.4;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.kino-ui-mis-preferencias h1 {
    font-size: 1.4rem;
}

.kino-ui-checkout h2,
.kino-ui-mis-preferencias h2 {
    font-weight: 500;
    font-size: 1.2rem;
}

.kino-ui-registro h1 {
    font-size: 1rem;
    font-weight: 600;
}

.kino-ui-conformidad h1 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
}

.kino-ui-conformidad h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.kino-ui-conformidad h3 {
    font-size: 1.1rem;
    font-weight: bold;
}
