@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');
@import "_helpers.css";
@import "kino-ui.box.css";
@import "kino-ui.buttons.css";
@import "kino-ui.cards.css";
@import "kino-ui.cinema.css";
@import "kino-ui.forms.css";
@import "kino-ui.logo.css";
@import "kino-ui.modal.css";
@import "kino-ui.lists.css";
@import "kino-ui.nav.css";
@import "kino-ui.overview-tabs.css";
@import "kino-ui.registro.css";
@import "kino-ui.pills.css";
@import "kino-ui.slider.css";
@import "kino-ui.tags.css";
@import "kino-ui.pages.css";

.kino-ui {
    display: none;
}

.kino-ui small,
.kino-ui .small {
    font-weight: 600;
}

@media only screen and (max-width: 41.688em) {
    .kino-ui {
        display: block;
    }
}
