/*@element: BUTTONS*/
.kino-ui .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: .7rem;
    line-height: 1.428571429;
}

.kino-ui .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 1rem;
    line-height: 1.33;
}

.kino-ui .btn.btn-back {
    background-color: #e5e5e5 !important;
}

/* Shared */
.btn-login {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 6px 15px 6px 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 2rem;
    color: #FFF;
}

.btn-login:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 34px;
    height: 100%;
}

.btn-login:focus {
    outline: none;
}

.btn-login:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.btn.focus, .btn:focus, :focus {
    border: 2px dotted #ffcc00;
}


/* Facebook */
.btn-login_facebook {
    background-color: #4C69BA;
    text-shadow: 0 -1px 0 #354C8C;
}

.btn-login_facebook:before {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.btn-login_facebook:hover,
.btn-login_facebook:focus {
    background-color: #5B7BD5;
}

/* Google */
.btn-login_google {
    background: #4286F5;
}

.btn-login_google:before {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.btn-login_google:hover,
.btn-login_google:focus {
    background: #4286F5;
}
