/*@element: LOGO*/
.kino-ui .logo h1 {
    font-weight: 700;
    margin-top: 0;
    font-size: 4rem;
}

.kino-ui .logo .rounded-circle {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    margin: 0 auto;
    left: -29px;
    top: 10px;
    background: #5622ff;
}
