/*@component: MODAL*/
.kino-ui .modal.full-height .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.kino-ui .modal.full-height .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.kino-ui .modal.fadeInUp {
    animation-duration: .3s;
    -webkit-animation-duration: .3s;
    -o-animation-duration: .3s;
    -moz-animation-duration: .3s;
}
