/*@component: ETIQUETAS*/
.kino-ui-etiquetas-generos .__swipe-container {
    overflow-x: scroll;
}

.kino-ui-etiquetas-generos .__swipe-container::-webkit-scrollbar {
    display: none;
}

.kino-ui-etiquetas-generos ul.__listing-etiquetas {
    width: 800px;
}

.kino-ui-etiquetas-generos .__swipe-container {
    padding-top:.2rem;
    box-shadow: inset -13px 0px 0px rgba(80, 80, 80, .1),
    inset -4px 0px 2px rgba(0, 0, 0, .1);
}

.kino-ui-etiquetas-generos ul.__listing-etiquetas li {
    display: inline-block;
}

.kino-ui-etiquetas-generos .btn-success {
    margin-top: -20px;
}
