/*@component: CARDS*/
.kino-ui ul._listing-peliculas .card {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .9);
}

.kino-ui .card.__genero-peliculas {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
}

.kino-ui .card.__genero-peliculas figure {
    margin-bottom: 5px;
}

.kino-ui .card.__genero-peliculas img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 1rem auto;
}

.kino-ui .card.__genero-peliculas figcaption {
    font-size: .8566rem;
}

.kino-ui .kino-ui-accordion .card,
.kino-ui .kino-ui-accordion .card .card-header {
    border-radius: 0;
}
