/*@element: PILL OUTLINED*/
.kino-ui .pill-outline {
    border-radius: 60px;
    color: #000000;
    font-size: .9rem;
    padding: 7px 6px;
    border: 1px solid #000000;
    text-decoration: none;
}

.kino-ui .pill-outline:active,
.kino-ui .pill-outline:hover {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff !important;
}
