/*@component: HOME SLIDER*/
.kino-ui-home-slider .__swipe-container {
    overflow-x: scroll;
}

.kino-ui-home-slider .__swipe-container::-webkit-scrollbar {
    display: none;
}

.kino-ui-home-slider h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

.kino-ui-home-slider h3 {
    font-weight: 700;
    font-size: 1.1rem;
}

.kino-ui-home-slider ul._listing-peliculas {
    width: 1082px;
    margin-left: 0;
    overflow: hidden;
}

.kino-ui-home-slider ul._listing-peliculas figure,
.kino-ui-home-slider ul._listing-peliculas li {
    width: 167px;
    min-height: 250px;
}

.kino-ui-home-slider ul._listing-peliculas i.fa-ticket {
    right: 10px;
    top: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
}

.kino-ui-home-slider ul._listing-peliculas li a {
    display: inline-block;
    /*height: 246px;*/
}

.kino-ui-home-slider ul._listing-peliculas li:nth-child(even) {
    animation-delay: .3s;
    -o-animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
}

.kino-ui-home-slider ul._listing-peliculas figure > figcaption {
    text-align: center;
    padding: .3rem;
    width: 100%;
    font-weight: 500;
    color: #000;
}
