.kino-ui .funcion p + p {
    font-size: .8rem;
}

.kino-ui-cinema .__swipe-container {
    overflow-x: scroll;
}

.kino-ui-cinema .__swipe-container::-webkit-scrollbar {
    overflow-x: visible;
}

.kino-ui-cinema .pantalla figcaption {
    top: -20px;
    font-size: .8rem;
    letter-spacing: .1rem;
    /*text-shadow: 1px 2px 1px rgba(0,0,0,.6);*/
}

.kino-ui-cinema .butacas .list-unstyled {
    margin-top: 7.6rem;
}

.kino-ui-cinema .butacas td {
    border: 0;
    padding: .3rem .75rem;
}

.kino-ui-cinema .butacas .filas li {
    padding: .533rem 0;
    font-size: .7rem;
}

.kino-ui-cinema .butacas table td {
    position: relative;
}

.kino-ui-cinema .butacas input[type*='checkbox'] {
    opacity: 0;
}

.kino-ui-cinema .butacas label {
    position: absolute;
    left: 4px;
    margin-bottom: 0;
    padding: 0;
    top: 4px;
}

.kino-ui-cinema .butacas label:before {
    font-size: 2em;
    position: absolute;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    text-align: center;
    border-radius: 7px;
    border: 2px solid #5622ff;;
}

.kino-ui-cinema .butacas input[type*='checkbox']:checked.ocupado + label:before {
    content: '';
}

.kino-ui-cinema .butacas input[type*='checkbox']:checked + label:before {
    background: #5622ff;
    border: 0;
}

/*ocupado*/
.kino-ui-cinema .butacas input[type*='checkbox'].ocupado + label:before {
    background-color: #acacac;
}

.kino-ui-cinema .butacas input[type*='checkbox']:focus + label:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    border-radius: 7px;
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 1px 1px 16px #fff;
}

.kino-ui-cinema .butacas .ref {
    border-radius: 2px;
    width: .5rem;
    height: .5rem;
}

.kino-ui-cinema .ref._disponible {
    border: 1px solid #5622ff;;
}
.kino-ui-cinema .ref._ocupada {
    background-color: #acacac;
}

.kino-ui-cinema .ref._seleccionada {
    background-color: #5622ff;
}
